<div class="card shadow-lg mb-3  " style=' width: 18rem'>
    <img [src]='[product?.img]' class="card-img-top img-fluid  mx-auto mt-3 shadow  rounded position-relative  pe-auto"
        style='width:16rem ; height:16rem' [alt]='[product?.name]' (click)="openDetails(product!.id)" >
    <a (click)="addToFavourite(product!.id)" class="pe-auto">
        <img [src]='product?.favStatus' width='25rem' alt="Favourite Icon" class="position-absolute  icon">
    </a>
    <div class="card-body">
        <h5 class="card-text d-inline-block"> {{product?.name}}</h5>
        <p class="fw-bold  ps-3 text-success d-inline-block"> {{product?.price}} EGP </p>
        <p class="card-text text-danger fw-bold mb-0" *ngIf="product?.offer!=''">Offer : {{product?.offer}}</p>
    </div>
</div>
