<div class=" d-flex flex-row justify-content-between rounded   shadow-lg  m my-lg-5 mx-lg-5 " >
    <div class="mx-auto my-auto  pt-5 ">
      <h1 class="mx-auto" > Welcome back </h1>
      <form class="needs-validation" #userForm="ngForm">
        <div >
            <input type="email" class="form-control mt-3" placeholder="Enter Email" #email="ngModel" [(ngModel)]="userLoginObj.email"
            name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
            <div *ngIf="email.invalid && (email.touched || email.dirty) || isFormSubmitted" class="text-danger">
              <span *ngIf="email.errors?.['required']">Please fill out this field.</span>
              <span *ngIf="email.errors?.['pattern']">Invalid email address</span>
            </div>
          </div>
          <div >
            <input type="password" class="form-control mt-3" id="pwd" placeholder="Enter password"  #password="ngModel" 
            [(ngModel)]="userLoginObj.password" name="password" minlength="10" required>
            <div *ngIf="password.invalid && (password.touched || password.dirty) || isFormSubmitted" class="text-danger">
              <span *ngIf="password.errors?.['required']">Please fill out this field.</span>
              <span *ngIf="password.errors?.['minlength']">Must be 10-20 characters long.</span>
            </div>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="myCheck" name="remember"  >
            <label class="form-check-label" for="myCheck">remember me.</label>
          </div> 
      <button class="d-block mx-auto btn btn-primary" type="button" (click)="login()"  [disabled]="!userForm.form.valid && !isUserLogged"> Log in  </button>
    </form>
      <p class="d-inline-block  mt-1 mx-auto">Dosen't have an account </p>
      <a  class="mx-auto p-color fw-bold" routerLink="../Signup"> Sign up </a>
    </div>    
    <div>
      <img src="../../../assets/images/sign up candles 2.jpg" class="rounded d-lg-flex d-none"  style="height: 42rem"alt="">
    </div>
</div>
