.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color:var(--primary-color) !important;
    color: var(--secandary-color);
  
}
.btn-outline-primary{
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.active-link{
    color: var(--primary-color);
    font-weight: bold;
}