.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-primary {
    background-color:var(--primary-color) !important;
    color: var(--secandary-color);
    font-weight: bold;
    
  
}
.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
 .btn-primary{
   border: none;
} 
.active-link{
    color: var(--primary-color);
    
}
.nav-link:hover , .navbar-brand:hover {
    font-weight: bold;
    font-size: 1.2rem;
}

.collapse{
    flex-grow : 0;
}