<div class="d-flex flex-wrap justify-content-center  mt-5 px-1">
  <h2 class="mt-5">{{CategoryName}}</h2>
  <div class="card shadow-lg mb-3 me-md-2 mt-5" *ngFor="let item of prodDetails">
    <div class="position-relative mt-3 mx-auto">
      <img [src]="item?.img" class="card-img-top image  img-fluid  shadow rounded " 
         [alt]="item?.name" (click)="openDetails(item!.id)">
  
      <a (click)="addToFavourite(item!.id)" class="pe-auto">
        <img [src]="item?.favStatus" width='40rem' alt="Favourite Icon" 
             class="position-absolute top-0 end-0 px-2 py-3">
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-text d-inline-block">{{ item.name }}</h5>
      <p class="fw-bold ps-3 text-success d-inline-block">{{ item.price }} EGP</p>
      <p class="  w-40 mb-0  ms-4 text-body-secondary"> {{item.Description}} </p>
      <p class="card-text text-danger fw-bold mb-0 ms-4" *ngIf="item.offer!=''">Offer : {{item.offer}}</p>
    </div>

  </div>
      
  <app-login-alert [visible]="isAlertVisible"  (closed)="isAlertVisible = false"></app-login-alert>
</div>
