<div class="d-flex  justify-content-center  mt-5 ms-5">
    <h2 class="mt-5">{{CategoryName}}</h2>
    <div class="card shadow-lg mb-3 me-5 mt-5" style="width: 18rem;" *ngFor="let item of prodDetails">
      <img src="{{ item.img }}" class="card-img-top img-fluid mx-auto mt-3 shadow rounded position-relative pe-auto" 
           style="width: 16rem; height: 16rem;" [alt]="item.name">
      <a class="pe-auto" (click) ="addToFavourite(item!.id)">
        <img src="{{ item.favStatus }}" width="25rem" alt="Favourite Icon" class="position-absolute icon pe-auto">
      </a>
      <div class="card-body">  
        <h5 class="card-text d-inline-block">{{ item.name }}</h5>    
        <p class="fw-bold ps-3 text-success d-inline-block">{{ item.price }} EGP</p> 
        <p class="  w-40 mb-0   ms-4 text-body-secondary" > {{item.Description}} </p> 
        <p class="card-text text-danger fw-bold mb-0" *ngIf="item.offer!=''">Offer : {{item.offer}}</p>
        <a href="#" class="btn btn-primary pe-auto">Add To Cart</a>
      </div> 
    </div>
</div>  
    
