<div class="d-flex flex-column  justify-content-start mt-3" style="height: 100vh;">
    <h2 class="ms-5 mb-4 mt-5 d-inline-block ">Categories</h2>
    <div class=" d-flex flex-wrap justify-content-center mx-auto pe-5 class="  >
        <div class="card shadow-lg ms-3 me-5  mb-4 pe-auto" style=' width: 12rem' 
            *ngFor="let item of catList"  (click)="openDetails(item.catid)" >   
            <img [src]="[item.catImg]" alt="Category Image" class="mx-auto my-2 rounded"
             style=' width: 10rem ;height : 10rem' >   
            <h5 class="card-text mx-auto my-2 ">  {{item.CategoryName}}</h5> 
            <p></p>
        </div>       
    </div>
</div>