<!-- Home Section -->
<div class="row mt-5 mx-5">
    <div class="col mt-5 ms-3">
        <h1>Shine</h1>
        <h1 class="ms-5">Candles</h1>
        <p class=" w-40  mt-4  ms-4">Star Candle is an online store for candles of all different
            types and all necessary candle accessories.
            We have opened our store since 2000, and we are completely confident that you will find everything related
            to candles in our store.
            Enjoy and create your order.
        </p>
    </div>
    <div class="col">
        <img src="../../../../../assets/images/browen candle 1.jpg" class="img-fluid rounded mt-5  me-1"
            style="width: 20rem;" alt="candles Home Image">
        <img src="../../../../../assets/images/browen candle 2.jpg" class=" secandImg img-fluid  rounded float-end "
         style="width: 20rem;" alt="candles Home Image">
    </div>
</div>
<!-- Peoducts Section -->
<div class="d-flex justify-content-between align-items-center  mt-5">
    <h2 class="ms-5 d-inline-block ">Our Products</h2>
    <a href="" class="text-primary d-inline-block me-5" routerLink="/Products">View all </a>
</div> 

 <div class="d-flex justify-content-between me-5 flex-wrap  mx-5 mt-3 ps-5 ">
    <div *ngFor="let product of featuredProducts">
        <app-products [product]="product"></app-products>
    </div>
</div>
 <!-- Best-sellers and Categories Sections  -->
<app-best-seller></app-best-seller>
<app-categories></app-categories>

