.all{
    background-image: url('../../../assets/images/CandleBackground.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
h1{
    font-family: 'Italianno', cursive;
    font-size: 7rem;
    width: fit-content;
    color:  var(--primary-color);
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.4rem ;
    color:  var(--secondary-color);
}
a{
    color:  var(--primary-color);
    font-weight: bold;
}
.firstImg {
    width: 20rem;
    margin-top: 6rem ;
}
.secandImg {
    margin-top: 12rem !important;
    width: 18rem;
}
.slide-image{
    animation: slideIn 1.5s ease-in-out forwards;
 
}

@keyframes slideIn {
    from {
      transform: translateY(-100vh); 
    }
    to {
      transform: translateY(0); 
    }
  }
 
  
@media (min-width: 768px) and (max-width: 991px) { 
  
    .firstImg {
        margin-left: 4rem;
        margin-top: 8rem;
    }

}
@media (min-width: 992px) and (max-width: 1199px) { 
  
    .firstImg {
        margin-left: 8rem;
        margin-top: 8rem;
    }
   
}

@media (min-width: 1200px) and (max-width: 1300px) { 
    .secandImg {
        width: 16rem;
    }
    .firstImg {
        width: 18rem;
    }
}

  
