<div class="d-flex flex-wrap  flex-md-nowrap justify-content-around mt-4">
  <div class="position-relative my-5">
    <img [src]="prodDetails?.img" class="card-img-top img-fluid  shadow rounded" style="width:22rem;"
      [alt]="prodDetails?.name">

    <a (click)="addToFavourite(prodDetails!.id)" class="pe-auto">
      <img [src]="prodDetails?.favStatus" width='45rem' alt="Favourite Icon"
        class="position-absolute top-0 end-0 px-2 py-3">
    </a>
  </div>
  <div class=" d-flex flex-column mt-5 w-50 ms-md-5">
    <h5 class="card-text fs-1 ms-2 d-flex-inline">
      {{prodDetails?.name}}
      <span class="fw-bold text-success fs-4 d-flex-inline"> {{prodDetails?.price}} EGP </span>
    </h5>
    <p class="text-wrap text-body-secondary w-md-75 p-3"> {{prodDetails?.Description}} </p>

    <div class="qty mt-1 mb-3">
      <label class="fs-5 me-3 rounded-start ">Quantity:</label>
      <div class="mx-sm-4 ms-1 mx-md-0 d-block d-md-inline">
        <button class="btn btn-sm btn-outline-secondary" (click)="decrement()">-</button>
        <input type="text" class="count btn btn-sm  btn-outline-secondary" [(ngModel)]="inputValue" min="0"
          [max]="prodDetails?.quantity" name="qty" value="1">
        <button class="btn btn-outline-secondary btn-sm rounded-end" (click)="increment()">+</button>
    </div>
</div>

    <p class="card-text text-danger fw-bold fs-5" *ngIf="prodDetails?.offer!=''">
      Offer: {{prodDetails?.offer}}
    </p>
    <p class="card-text text-danger fw-bold fs-5" *ngIf="prodDetails?.offer==''">
      No Offers For This Product
    </p>
    <button class="btn btn-primary p-2 ms-sm-5 mb-5" type="submit" style="width: 15rem;">Add to Cart</button>
  </div>
</div>