<!-- <!-- <form class="d-flex flex-column justify-content-center  align-items-center    ">
    <div class="me-5" >
        <label for="inputEmail4" class="form-label">First Name</label>
        <input type="email" class="form-control d-inline-flex" id="inputEmail4">
    </div> 
    <div>   
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
        <
        
      </div>
    <div >
        <label for="inputPassword4" class="form-label">Last Name</label>
        <input type="password" class="form-control d-inline-flex" id="inputPassword4">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
      <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" id="inputState">
    </div>
   <div >
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control w-175" id="inputAddress" placeholder="1234 Main St">
    </div> 
    <button>save</button>
    
</form> -->


<!--    <div class="container">
        <form class="row row-cols-2 g-3 shadow p-3  bg-body rounded border mt-5  mx-5">
    <div class="col">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control d-inline-flex" id="inputFirstName">
    </div>
    <div class="col">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control d-inline-flex" id="inputLastName">
    </div>
    <div class="col">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col">
        <label for="inputState" class="form-label">State</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
   

    <div class="col-8">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
  </div> -->
<!--   <ul>
    <li *ngFor="let user of users">
      {{ user.name }} - <button (click)="viewUserProfile(user.id)">View Profile</button>
    </li>
  </ul> -->