/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color:#5c2702cc;
    --secandary-color: #ffe4c4;
    
}
.pe-auto
{
    cursor: pointer !important;
}
.btn-primary {
    background-color:var(--primary-color) ;
    color: var(--secandary-color);
    border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:visited ,.btn-primary:disabled {
    border:solid 1px var(--primary-color)  ;
    color: var(--primary-color);
    background-color: var(--secandary-color);
}
.p-color{
    color: var(--primary-color);
}