 <div  class=" d-flex flex-wrap justify-content-around mt-5 flex-column flex-sm-row mx-5 mx-lg-0" [hidden]="foundProducts.length==0"> 
<div class="card d-flex justify-content-between flex-md-row mb-5" *ngFor="let item of foundProducts">
    <img [src]="item?.img" class="card-img-top image my-2 ms-2 img-fluid shadow rounded " [alt]="item?.name">
    <div class="card-body">
        <h5 class="card-text d-inline-block"> {{item.name}}</h5>
      
        <p class="fw-bold  ps-3 text-success d-inline-block"> {{item.price}} EGP </p>
        <a (click)="addToFavourite(item!.id)" class="pe-auto">
            <img [src]="item?.favStatus" width='40rem' alt="Favourite Icon"
                class=" px-2 py-3"> 
        </a>
        <p class=" mb-0  ms-4 text-body-secondary "> {{item.Description}} </p>
        <p class="card-text text-danger  ms-4 fw-bold mb-0" *ngIf="item.offer!=''">Offer : {{item.offer}}</p>
    </div>
</div>
<div [hidden]="foundProducts.length!=0">
    <div class=" d-flex flex-column justify-content-center align-items-center mx-5 " style="height: 100vh;">
        <img src="../../../assets/icons/NO Favourites.svg" alt="no favorite product Icon" class="noFavouriteImage">
        <p class="textColor">There are no favorite products until now, click on the favorite icon on the top of each
            product to add it here </p>
    </div>
</div>