.icon{
    top:1.5rem;
    right:1.5rem;
}
.w-50{
    width: 40% !important;
}
.textColor{
    color: var(--primary-color);
    font-weight: bold;
}
@media (min-width: 320px) and (max-width: 425px) { 
  
    .noFavouriteImage{
        width: 22rem;
    }
    .textColor{
        font-size: 0.8rem;
    }
} 