
.textColor{
    color: var(--primary-color);
    font-weight: bold;
}
.card-img-top{
    width:16rem ;
     height:16rem;
} 
.text-body-secondary
{
    width: 15rem;
}

@media (min-width: 320px) and (max-width: 767px) { 
   
    .card-img-top{
        align-self: center;
    } 
    
}  